*
{
  font-family: calibri;
  text-decoration: none;
  font-weight: normal;
  border:0;
  margin:0;
}
input,button,a
{
  padding: 10px;
  box-sizing: border-box;
}
body
{
  background:slateblue;
}
header
{
  line-height:10vh;
  display:flex;
  background:black;
  color:white;
  align-items:center;
  justify-content: space-around;
}
header a
{
  color:silver
}
header a:hover{
  color:white;
}